<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="home">
      <img
        src="/assets/logo.png"
        height="50"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px; margin-right: 20px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLink="home" routerLinkActive="active"><b>Home</b></li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLink="customers" routerLinkActive="active"><b>Customers</b></li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button
          *ngIf="!isLogin"
          type="button"
          (click)="login()"
          class="btn btn-success px-3 me-2"
        >
          Login
        </button>
        <button
          *ngIf="isLogin"
          type="button"
          (click)="logout()"
          class="btn btn-danger px-3 me-2"
        >
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
